.article {
    background-color: #4E4E50;
    padding: 0;
    margin: 0;
}

.image {
    transition: .5s;
    width: 350px;
}

.imageInArticle img {
    max-width: 100%;
    max-height: 50vh;
}

.image img {
     max-width: 100%;
     max-height: 100vh;
}

.image:hover {
    transition: .5s;
    transform: scale(1.5);
    z-index: 10;
}

.post {
    width: 575px;
    padding: 40px;
    max-height: 15vh;
}