html, body {
    background-color: #1A1A1D;
    color: white;
}
/*Navbar*/

.navbar {
    background-color: #C3073F;
}
a {
    color: white;
    transition: .5s;
}
a:hover {
    -webkit-text-stroke: 0.1px black;
    text-decoration: none;
    color: #000;
    text-shadow: 0 0 5px black !important;
    transition: .5s;
}

.table a:hover {
    color: white;
    text-shadow: 0 0 5px #950740 !important;
}
.article a:hover {
    color: white;
    text-shadow: 0 0 5px #950740 !important;
}

.rightBtn {
    transition: .5s;
    margin: 0px 10px 0px 10px;
}

.rightBtn:hover {
    -webkit-text-stroke: 0.1px black;
    text-decoration: none;
    color: #000;
    text-shadow: 0 0 5px black !important;
    transition: .5s;
}
/*End of navbar*/

.mainHeader {
    margin-bottom: 30px;
    padding-top: 35px;
    text-align: center;
}
.mainContent {
    text-align: justify;
}
.loginPanel {
    text-align: center;
}
.btn {
    transition: .5s;
    background-color: #C3073F;
    color: white;
}
.btn:hover {
    transition: .5s;
    box-shadow: 0px 0px 35px 0px #950740;
    background-color: #C3073F;
    color: white;
}
/*CK EDITOR COLORS*/
.ck p {
    color: black;
}